.apple-glass > img {
  width: 100% !important;
  height: 400px !important;
  margin-bottom: 20px;
}
.last-articles {
  border: 1px solid;
  background: #252525;
  color: white;
  text-align: center;
}
.section-apple {
  margin-top: 60px !important;
}
